<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Driver Dashboard</title>
    <style>
        body {
            font-family: 'Arial', sans-serif;
            margin: 0;
            padding: 20px;
            background-color: #f4f4f4;
        }

        h1 {
            text-align: center;
            color: #007BFF;
        }

        h2 {
            color: #333;
        }

        ol {
            list-style: none;
            padding: 0;
        }

        li {
            border: 1px solid #ddd;
            border-radius: 5px;
            margin-bottom: 10px;
            padding: 10px;
        }

        button {
            background-color: #007BFF;
            color: #fff;
            padding: 8px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

        select, input[type="file"] {
            margin-bottom: 10px;
            padding: 8px;
            width: 100%;
            border: 1px solid #ddd;
            border-radius: 5px;
            box-sizing: border-box;
        }

        form {
            margin-top: 20px;
        }
    </style>
</head>
<body>
    <h1>Welcome <%= username %></h1>

    <h2>Open Orders</h2>
    <ol>
        <% for (let i = 0; i < openOrders.length; i++) { %>
            <li>
                <p><strong>Customer Name: <%= openOrders[i].customerName %> </strong></p>
                <p><strong>Delivery Address: <%= openOrders[i].delivery_address %></strong></p>
                <p><strong>Item ID:</strong> <%= openOrders[i].menuItem._id %></p>
                <p><strong>Quantity:</strong> <%= openOrders[i].quantity %></p>
                <p><strong>Total Order Price:</strong> $<%= openOrders[i].totalOrderPrice %></p>
                <form action="/select-order/<%= openOrders[i]._id %>" method="post">
                    <button type="submit">Select Order</button>
                </form>
            </li>
        <% } %>
    </ol>

    <% if (selectedOrder) { %>
        <h2>Fulfillment for Order <%= selectedOrder._id %></h2>
        <form action="/fulfillment/<%= selectedOrder._id %>" method="post" enctype="multipart/form-data">
            <label for="status">Order Status:</label>
            <select name="status">
                <option value="IN TRANSIT">In Transit</option>
                <option value="DELIVERED">Delivered</option>
            </select><br>
            <label for="proofImage">Proof of Delivery (Image):</label>
            <input type="file" id="image" name="image" value="" required />
            <button type="submit">Update Status</button>
        </form>
    <% } %>
</body>
</html>
